@font-face{
    font-family: 'Source Code Pro';
    src: url(../Font/Source\ Code\ Pro/SourceCodePro-VariableFont_wght.ttf)
}
* {
    font-family: 'Source Code Pro';
    margin: 0;
    padding: 0;
}
.primary {
    background-color: #ffffff;
    color: #000000;
}

.primary p{
  color: #000000;
}

.primary h1{
    color: #3D5A80;
}

.secondary {
    background-color: #000000;
    color: #ffffff;
}

.secondary p{
    color: #ffffff;
}

.secondary h1{
      color: #00f0ff;
  }
  
.navbar{
    background-color: black !important;
    height: 64px;
}

.navbar-nav .nav-link{
    color: #ffffff;
    padding:0;
}

.navbar-brand img{
    height: 51px;
    width: 73px;
}

#login-background {
    background-color: darkslategrey;
}

#login-logo {
    width: 60px;
    height: 60px;
}

.form-label {
    font-weight: 600;
}

.Login-Card {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
}

#login-btn {
    background-color: black;
}

